<nav class="top-bar fading-header" data-topbar data-magellan-expedition="fixed">
	<a href="#main-page" id="company-logo"> 
	<img class="visible-for-small-only img-small-icon" src="img/bywave_ico.png">
    <img class="visible-for-medium-up img-icon" src="img/bywave_clear.png">
    </a>
	<ul class="sub-nav nav-center">
		<li data-magellan-arrival="work"><h5><a href="#work">Work</a></h5></li>
		<li data-magellan-arrival="about"><h5><a href="#about" onclick="aboutSecPos()">About</a></h5></li>
		<li data-magellan-arrival="contact"><h5><a href="#contact">Contact</a></h5></li>
	</ul> 
</nav>