<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="../img/bywave_ico.png">


    <link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css"/>
    <!-- Polymer -->
    <!-- <link href="bower_components/core-icons/core-icons.html" rel="import">
	<link href="bower_components/core-icons/iconsets/av-icons.html" rel="import">
	<link href="bower_components/paper-fab/paper-fab.html" rel="import">
	<link href="bower_components/core-toolbar/core-toolbar.html" rel="import">
	<link href="bower_components/core-header-panel/core-header-panel.html" rel="import"> -->
</head>




