<!-- Polymer -->
<script src="bower_components/platform/platform.js"></script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="bower_components/foundation/js/foundation.magellan.js"></script>

<!-- Page Loader -->
<script src="bower_components/snap.svg/dist/snap.svg-min.js"></script>
<script src="bower_components/jquery.fragmentscroll/assets/js/jquery.fragmentscroll.min.js"></script>
<script src="js/svgLoader.js"></script>

<script src="js/app.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>