$input-margin-bottom:27px;

.msg-text{
  height: 150px;
}
small.error{
	opacity: 0;
	right: 15px;
	position: absolute;
}
.message{
	display: none;
}
.input-label{
	margin-bottom: $input-margin-bottom;
}
.btn-contact
{
	margin-top: 10px;
	float: right;
}
