.msg-text{
  height: 150px;
}

small.error{
	opacity: 0;
	right: 15px;
	position: absolute;
}

.success-message{
	display: none;
}

.input-label{
	margin-bottom: 27px;
}

.btn-contact{
	// margin-top: 10px;
	float: right;
}

.show-error{
	// box-shadow: 0px 0px 1px red !important;
	border-color: red !important;
	@include transition(all 1s ease-out 0.2s);
}

.contact-input, .msg-text{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset !important;
	// border-color: #EEE !important;
}
