/* -- Panel -- */
.panel {
    @include perspective(600px);
    background: transparent;
    width: 100%;
    padding :0px;
    border-color: transparent;

    img {
        width: inherit;
        height: inherit;
    }
/* -- Front Card -- */
    .front {
        @include rotate(0deg, 0deg);
        @include style(preserve-3d);
        @include visibility(hidden);
        @include transition(all, .4s, ease-in-out, 0s);
        top: 0;
        left: 0;
        z-index: 900;
        width: 100%;
        text-align: center; 
        box-shadow: 0 1px 2px 0px #aaa;
    }
/*-- Back card --*/
    .back {
        @include rotate(0deg, -179deg); 
        @include style(preserve-3d);
        @include visibility(hidden);
        @include transition(all, .4s, ease-in-out, 0s);
        background: none repeat scroll 0% 0% #f9f9f9;
        float: none;
        top: 0;
        left: 0;
        z-index: 800;
        width: inherit;
        height: 100%;
        position: absolute;
    }
}

.panel::after{
    content: "";
    display: table;
    clear: both;
}

.panel.flip {
    .front {
        z-index: 900; 
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        box-shadow: none;
    }

    .back{
        z-index: 1000;
        @include rotate(0deg, 0deg); 
        box-shadow: 0 1px 2px 0px #aaa;
    }
}

.back > .back-header{
    padding: 10px;
    background-color: #f68320;
    color: #FFF;
    fill: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.back > .back-footer{
    background-color: #f68320;
    color: #FFF;
    fill: #FFF;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    position:absolute;                  
    bottom:0; 
    width: 100%; 
}