/* -- Mixins -- */
@mixin rotate($x, $y){
  -webkit-transform: rotateX($x) rotateY($y);
    -moz-transform: rotateX($x) rotateY($y);
      transform: rotateX($x) rotateY($y);
}

@mixin perspective($pixels){
  -webkit-perspective: $pixels;
    -moz-perspective: $pixels;
      perspective: $pixels;
}

@mixin style($preserve){
  -webkit-transform-style: $preserve;
    -moz-transform-style: $preserve;
      transform-style: $preserve;
}

@mixin visibility($type){
  -webkit-backface-visibility: $type;
    -moz-backface-visibility: $type;
      backface-visibility: $type;
}

@mixin box-shadow($hOffset, $vOffset, $blurRadius, $spreadRadius, $color) {
  -webkit-box-shadow: $hOffset $vOffset $blurRadius $spreadRadius $color; // iOS <4.3 & Android <4.1
    box-shadow: $hOffset $vOffset $blurRadius $spreadRadius $color;
}

@mixin opacity($percent){
  -webkit-opacity: $percent;
    -moz-opacity: $percent;
     opacity: $percent;
}

@function prefix($property, $prefixes: (webkit moz o ms)) {
  $vendor-prefixed-properties: transform background-clip background-size;
  $result: ();
  @each $prefix in $prefixes {
    @if index($vendor-prefixed-properties, $property) {
      $property: -#{$prefix}-#{$property}
    }
    $result: append($result, $property);
  }
  @return $result;
}

// Transiton
@function trans-prefix($transition, $prefix: moz) {
  $prefixed: ();
  @each $trans in $transition {
    $prop-name: nth($trans, 1);
    $vendor-prop-name: prefix($prop-name, $prefix);
    $prop-vals: nth($trans, 2);
    $prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
  }
  @return $prefixed;
}

@mixin transition($values...) {
  $transitions: ();
  @each $declaration in $values {
    $prop: nth($declaration, 1);
    $prop-opts: ();
    $length: length($declaration);
    @for $i from 2 through $length {
      $prop-opts: append($prop-opts, nth($declaration, $i));
    }
    $trans: ($prop, $prop-opts);
    $transitions: append($transitions, $trans, comma);
  }
  
  -webkit-transition: trans-prefix($transitions, webkit);
    -moz-transition: trans-prefix($transitions, moz);
      -o-transition: trans-prefix($transitions, o);
        transition: $values;
}

@mixin border-radius($pixels){
  -webkit-border-radius: $pixels;
  -moz-border-radius: $pixels;
  border-radius: $pixels;
}

@mixin set-image-transparency($opacity, $filter){
  opacity: $opacity;
  filter: $filter;
}

