// ------------------------------------------------------------\\
//  BLOCKS                                               
// ------------------------------------------------------------\\


.block {
    padding: $block-padding-top-normal $block-padding-right-normal $block-padding-bottom-normal $block-padding-left-normal;
    margin-bottom: $block-margin-bottom-normal;
    @include clear();
    &:last-child {
        margin-bottom: 0;
    }
}





@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .block {
	    padding: $block-padding-top-moderate $block-padding-right-moderate $block-padding-bottom-moderate $block-padding-left-moderate;
	    margin-bottom: $block-margin-bottom-moderate;
	}
}

@media (min-width: $grid-normal) {
    
}

@media (max-width: $grid-light) {
   	.block {
	    padding: $block-padding-top-light $block-padding-right-light $block-padding-bottom-light $block-padding-left-light;
	    margin-bottom: $block-margin-bottom-light;
	}
}
