// ------------------------------------------------------------\\
//  ARTICLES                                                
// ------------------------------------------------------------\\


.article {
    @include clear();
    display: block;
    margin-bottom: $article-margin-bottom;
    &:last-child {
        margin-bottom: 0;
    }
    .article-heading {
        background-color: $article-heading-bg;
        padding: $article-heading-padding-top-normal $article-heading-padding-right-normal $article-heading-padding-bottom-normal $article-heading-padding-left-normal;
        color: $article-heading-color;
        h1, h2, h3, h4, h5, h6 {
            color: $article-heading-color;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .article-banner {
        position: relative;
        img {
            display: block;
        }
    }
    .article-caption {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: $article-caption-bottom;
        top: $article-caption-top;
        display: block;
        padding: $article-caption-padding-top-normal $article-caption-padding-right-normal $article-caption-padding-bottom-normal $article-caption-padding-left-normal;
        h1, h2, h3, h4, h5, h6 {
            text-align: $article-caption-align;
            color: $article-caption-color;
            &:last-child {
                margin-bottom: 0;
            }
            
        }
    }
    .article-content {
        padding: $article-content-padding-top-normal $article-content-padding-right-normal $article-content-padding-bottom-normal $article-content-padding-left-normal;
        @include clear();
    }
    .article-details {
        overflow: hidden;
        padding-bottom: 1px;
    }
    .left, .push-left {
        margin-right: $article-margin-right;
    }
    .right, .push-right {
        margin-left: $article-margin-left;
    }
}




@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .article {
        .article-heading {
            padding: $article-heading-padding-top-moderate $article-heading-padding-right-moderate $article-heading-padding-bottom-moderate $article-heading-padding-left-moderate;
        }
        .article-caption {
            padding: $article-caption-padding-top-moderate $article-caption-padding-right-moderate $article-caption-padding-bottom-moderate $article-caption-padding-left-moderate;
        }
        .article-content {
            padding: $article-content-padding-top-moderate $article-content-padding-right-moderate $article-content-padding-bottom-moderate $article-content-padding-left-moderate;
        }
    }
}

@media (min-width: $grid-normal) {
    
}

@media (max-width: $grid-light) {
    .article {
        .article-heading {
            padding: $article-heading-padding-top-light $article-heading-padding-right-light $article-heading-padding-bottom-light $article-heading-padding-left-light;
        }
        .article-caption {
            padding: $article-caption-padding-top-light $article-caption-padding-right-light $article-caption-padding-bottom-light $article-caption-padding-left-light;
        }
        .article-content {
            padding: $article-content-padding-top-light $article-content-padding-right-light $article-content-padding-bottom-light $article-content-padding-left-light;
        }
    }
}