// ------------------------------------------------------------\\
//  COLORS                                               
// ------------------------------------------------------------\\

.color-primary {
    color: $color-primary;
}
.bg-primary {
    background-color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}
.bg-secondary {
    background-color: $color-secondary;
}

.color-tertiary {
    color: $color-tertiary;
}
.bg-tertiary {
    background-color: $color-tertiary;
}

.color-white {
    color: $color-white;
}
.bg-white {
    background-color: $color-white;
    color: $color-black;
}

.color-black {
    color: $color-black;
}
.bg-black {
    background-color: $color-black;
    color: $color-white;
}

.color-gray {
    color: $color-gray;
}
.bg-gray {
    background-color: $color-gray;
    color: $color-white;
}

.color-gray-darken {
    color: $color-gray-darken;
}
.bg-gray-darken {
    background-color: $color-gray-darken;
    color: $color-white;
}

.color-gray-lighten {
    color: $color-gray-lighten;
}
.bg-gray-lighten {
    background-color: $color-gray-lighten;
    color: $color-black;
}
