// ------------------------------------------------------------\\
//  FORMS                                             
// ------------------------------------------------------------\\


.input-text {
	display: block;
	width: 100%;
	margin: 0;
	position: relative;
	height: $input-height-normal;
	line-height:$global-line-height-normal;
	font-size: $input-font-size-normal;
	padding: $input-padding-top-normal $input-padding-right-normal $input-padding-bottom-normal $input-padding-left-normal;
	color: $input-color;
	background: $input-bg;
	border:$input-border;
	border-radius: $input-border-radius;
	font-family: $input-font-family;
	margin-bottom:$input-margin-bottom;
	@include box-shadow(rgba($input-shadow-color, $input-shadow-opacity) $input-shadow-category, rgba(darken($input-shadow-color, 10%), $input-shadow-inset-opacity) $input-shadow-inset-category inset);
	&:last-child {
		margin-bottom: 0;
	}
}

.input-sm {
	
}

.input-md {

}

.input-lg {

}

label {
	display: inline-block;
	font-family: $label-font-family;
}

.input-label {
	font-weight: $input-font-weight;
	height: $input-height-normal;
	font-size: $label-font-size;
	line-height:$global-line-height-normal;
	display: block;
	span {
		display: table-cell;
		vertical-align: middle;
	}
}

.block-label {
	display: block;
}

.inline-label {
	display: inline-block;
	vertical-align: middle;
}

.label-details {
	overflow: hidden;
	padding-bottom: 1px;
	padding-top: 5px;
	display: block;
	font-size: $input-font-size-normal;
	font-weight: bold;
}


.form-info {
	font-size: 12px;
}

textarea {
	width: 100%;
	resize:none;
	-webkit-appearance: none;
	overflow: auto;
	font-weight: $input-font-weight;
	padding: $input-padding-top-normal $input-padding-right-normal $input-padding-bottom-normal $input-padding-left-normal;
	font-size: $input-font-size-normal;
	color: $input-color;
	background: $input-bg;
	border:$input-border;
	border-radius: $input-border-radius;
	font-family: $input-font-family;
}

select {
	width: 100%;
	font-weight: $input-font-weight;
	text-transform: $input-text-transform;
	padding: $input-padding-top-normal $input-padding-right-normal $input-padding-bottom-normal $input-padding-left-normal;
	-webkit-appearance: none;
	height: $input-height-normal;
	line-height:$global-line-height-normal - 3;
	font-size: $input-font-size-normal;
	border:$input-border;
	border-radius: $input-border-radius;
	color: $input-color;
	background: $input-bg;
	font-family: $input-font-family;
	font-size: $input-font-size-normal;
	background: url(../images/icons/icon-select.png) 100% 1px no-repeat #fafafa;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

.input-col {
	float: left;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}

.input-box {
	position: relative;
}


// Form Inline
//-------------------------------------------------------------\\


.form-inline {
	@include clear();
	.input-text {
		display: inline-block;
		vertical-align: middle;
	}
}


// Form Block
//-------------------------------------------------------------\\

.form-block {
	@include clear();
	margin-bottom: $form-margin-bottom;
	&:last-child {
		margin-bottom: 0;
	}
}



// Form Row
//-------------------------------------------------------------\\

.form-row {
	margin-bottom: $form-margin-bottom;
	display: block;
	@include clear();
	&:last-child {
		margin-bottom: 0;
	}
}


.form-details {
	overflow: hidden;
	padding-bottom: 1px;
	display: block;
}


// Input Checkbox 
//-------------------------------------------------------------\\

.checkbox {
	margin-bottom: 10px;
	label {
		margin-bottom: 10px;
		cursor: pointer;
		display: block;
		line-height:$global-line-height-normal;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.icheckbox {
		display: table-cell;
		vertical-align: middle;
	}
	.details {
		display: table-cell;
		vertical-align: middle;
	}
	.input-box {
		display: table-cell;
		vertical-align: middle;
		padding-right: 15px;
	}
}


.checkbox-inline {
	label {
		cursor: pointer;
		display: inline-block;
		line-height:$global-line-height-normal;
		vertical-align: middle;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.input-checkbox {
	-webkit-appearance: checkbox;
	position: relative;
	top: 4px;
	margin-right: 9px;
}


.icheckbox {
    margin: 0;
    padding: 0;
    width: 17px;
    height: 17px;
    background: url(../images/icons/icon-checkbox.png) 0 0 no-repeat;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}
.icheckbox {
    background-position: 0 0;
}
.icheckbox.checked {
    background-position: 0px -17px;
    cursor: default;
}


// Input Radio
//-------------------------------------------------------------\\

.radio {
	label {
		margin-bottom: 10px;
		cursor: pointer;
		display: block;
		line-height:$global-line-height-normal;
	}
}


.radio-inline {
	display: inline-block;
	vertical-align: top;
	label {
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		line-height:$global-line-height-normal;
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.input-radio {
	-webkit-appearance: radio;
	position: relative;
	margin-right: 9px;
}

.iradio {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../images/registration/radio-box.png) 0 0 no-repeat;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    float: left;
}

.iradio {
    background-position: 0 0;
}
.iradio.checked {
    background-position: 0px -22px;
    cursor: default;
}


// Input Placeholder
//-------------------------------------------------------------\\


:-moz-placeholder {
  color: $input-placehoder;
  opacity: 1 !important;
}

::-moz-placeholder {
  color: $input-placehoder;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: $input-placehoder;
}

::-webkit-input-placeholder {
  color: $input-placehoder;
}


// Input Form Fluid
//-------------------------------------------------------------\\


.input-form {
	display: table;
	position: relative;
	border-spacing: 0;
	border-collapse: separate;
	.input-btn {
		display: table-cell;
		line-height: 1;
		text-align: center;
		width: 1%;
	 	white-space: nowrap;
	}
	.input-text {
		display: table-cell;
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}
}



@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .form-group {
		margin-bottom: 10px;
	}
}

@media (min-width: $grid-normal) {
    
}

@media (max-width: $grid-light) {

	.input-label {
		padding-bottom: $input-padding-bottom-normal;
	}

   	.input-col {
		float: none;
		display: block;
		width: 100%;
		margin-right: 0px;
		margin-bottom: 10px;
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
	}
	
	.form-group {
		margin-bottom: 10px;
	}
}