// ------------------------------------------------------------\\
//  NAV                                              
// ------------------------------------------------------------\\


.mobile-menu-bg {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 4;
    display: none;
}

.nav-switch {
	position: relative;
	float: left;
	padding: 9px 10px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	display: none;
	.icon {
		margin-right: 0;
	}
}

.nav-page-title {
	float: left;
	font-size: 14px;
	color: $color-primary;
	margin-top: 13px;
	display: none;
	text-transform: uppercase;
}


// Nav Content
//-------------------------------------------------------------\\

.nav-content {
	position: relative;
	z-index: 9;
	height: $nav-content-height-normal;
	padding: $nav-content-padding-top-normal $nav-content-padding-right-normal $nav-content-padding-bottom-normal $nav-content-padding-left-normal;
}

.nav-fold {
	
}

// Nav Menu
//-------------------------------------------------------------\\

.nav {
	font-size: $nav-font-size-normal;
	font-family: $nav-font-family;
	list-style:none;
	padding: 0;
	margin: 0;
	text-transform: $nav-text-transform;
}

.nav > li {
	position: relative;
	float: left;
	padding: 0;
	margin-right: $nav-margin-right-normal;
	margin-left: $nav-margin-left-normal;
	margin-bottom: $nav-margin-bottom;
	border-left: $nav-border-right;
	border-right: $nav-border-right;
	&:last-child {
		border-right: none;
		margin-right: 0;
	}
	&:first-child {
		margin-left: 0;
		border-left: 0;
	}
	&:before {
		display: none;
	}
}

.nav > li > a {
	padding: $nav-padding-top-normal $nav-padding-right-normal $nav-padding-bottom-normal $nav-padding-left-normal;
	color: $nav-color;
	font-weight: $nav-font-weight;
	background-color: $nav-bg;
	display: block;
	border-top: $nav-border-top;
	border-bottom: $nav-border-bottom;
}

.nav > li > a:hover {
	text-decoration: none;
	background-color: $nav-bg-hover;
	color: $nav-color-hover;
	border-top: $nav-border-top-hover;
	border-bottom: $nav-border-bottom-hover;
}

.nav > li.active > a {
	text-decoration: none;
	background-color: $nav-bg-active;
	color: $nav-color-active;
	border-top: $nav-border-top-active;
	border-bottom: $nav-border-bottom-active;
}


// Nav Footer
//-------------------------------------------------------------\\

.nav-footer {
	font-size: $nav-footer-font-size-normal;
	font-family: $nav-font-family;
	list-style:none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		margin-right: $nav-footer-margin-right;
		margin-left: $nav-footer-margin-left;
	}
	a {
		color: $nav-footer-color;
		&:hover {
			text-decoration: none;
		}
	}
}


// Nav Sidebar
//-------------------------------------------------------------\\

.nav-sidebar {
	font-size: $nav-sidebar-font-size-normal;
	font-family: $nav-font-family;
	list-style:none;
	padding: 0;
	margin: 0;
	text-transform: $nav-text-transform;
	li {
		display: block;
	}
	a {
		display: block;
		color: $nav-sidebar-color;
	}
}





@media (min-width: $grid-moderate) {
	.mobile-menu-bg {
	    display: none !important;
	}
}

@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .nav-content {
		height: $nav-content-height-moderate;
		background-color: $nav-content-bg;
		padding: $nav-content-padding-top-moderate $nav-content-padding-right-moderate $nav-content-padding-bottom-moderate $nav-content-padding-left-moderate;
	}
	.nav {
		font-size: $nav-font-size-moderate;
	}
	.nav > li {
		margin-right: $nav-margin-right-moderate;
		margin-left: $nav-margin-left-moderate;
	}
	.nav > li > a {
		padding: $nav-padding-top-moderate $nav-padding-right-moderate $nav-padding-bottom-moderate $nav-padding-left-moderate;
	}
}

@media (min-width: $grid-normal) {
    
}

@media (max-width: $grid-light) {
	.nav-page-title {
		display: block;
	}
   	.nav-switch {
		display: block;
	}
	.nav-fold {
		width: 100%;
		height: 0;
		overflow: hidden;
		position: relative;
		background: #ffffff;
		clear: both;
		z-index: 9;
		padding: 0;
	}
	.nav-content {
		height: $nav-content-height-light;
		background-color: $nav-content-bg;
		padding: $nav-content-padding-top-light $nav-content-padding-right-light $nav-content-padding-bottom-light $nav-content-padding-left-light;
	}
	
	.nav {
		font-size: $nav-font-size-light;
		padding-left: 0;
	}

	.nav > li {
		float: none;
		display: block;
		padding: 0;
		margin: 0;
	}

	.nav > li > a {
		padding: $nav-padding-top-light $nav-padding-right-light $nav-padding-bottom-light $nav-padding-left-light;
	}
}