// ------------------------------------------------------------\\
//  VISIBILITY                                              
// ------------------------------------------------------------\\

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.hide-light {
    display: block !important;
}

.hide-moderate {
    display: block !important;
}

.hide-desktop {
    display: block !important;
}

.hide-heavy {
    display: block !important;
}

.hide-inline {
    display: inline-block !important;
}

.show-light {
    display: none !important;
}

.show-moderate {
    display: none !important;
}

.show-inline-moderate {
    display: none !important
}

.show-desktop {
    display: none !important;
}

.show-inline-desktop {
    display: none !important;
}

.show-heavy {
    display: none !important;
}

.show-inline-heavy {
    display: none !important;
}

.show-inline {
    display: none !important;
}


@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    .hide-moderate {
        display: none !important;
    }
    .hide-inline-moderate {
        display: none !important
    }
    .show-moderate {
        display: block !important
    }
    .show-light {
        display: none !important;
    }
    .show-desktop {
        display: none !important;
    }
    .show-heavy {
        display: none !important;
    }
    .show-inline-moderate {
        display: inline-block !important;
    }
}

@media (min-width: $grid-normal) and (max-width: $grid-heavy - 1) {
    .hide-desktop {
        display: none !important;
    }
    .hide-inline-desktop {
        display: none !important;
    }
    .show-heavy {
        display: none !important;
    }
    .show-desktop {
        display: block !important;
    }
    .show-inline-desktop {
        display: inline-block !important;
    }
}

@media (max-width: $grid-light) {
    .hide-light {
        display: none !important;
    }
    .hide-inline-light {
        display: none !important;
    }
    .show-light {
        display: block !important;
    }
    .show-inline-light {
        display: inline-block !important;
    }
    .show-moderate {
        display: none !important;
    }
    .show-desktop {
        display: none !important;
    }
    .show-heavy {
        display: none !important;
    }
}