// ------------------------------------------------------------\\
//  COLORS                                               
// ------------------------------------------------------------\\

.color-primary {
    color: $color-primary !important;
}
.bg-primary {
    background-color: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}
.bg-secondary {
    background-color: $color-secondary !important;
}

.color-tertiary {
    color: $color-tertiary !important;
}
.bg-tertiary {
    background-color: $color-tertiary !important;
}

.color-completed {
    color: $color-completed !important;
}
.bg-completed {
    background-color: $color-completed !important;
}

.color-error {
    color: $color-error !important;
}
.bg-error {
    background-color: $color-error !important;
}

.color-white {
    color: $color-white !important;
}
.bg-white {
    background-color: $color-white !important;
    color: $color-black !important;
}

.color-black {
    color: $color-black !important;
}
.bg-black {
    background-color: $color-black !important;
    color: $color-white !important;
}

.color-gray {
    color: $color-gray !important;
}
.bg-gray {
    background-color: $color-gray !important;
    color: $color-white !important;
}

.color-gray-darken {
    color: $color-gray-darken !important;
}
.bg-gray-darken {
    background-color: $color-gray-darken !important;
    color: $color-white !important;
}

.color-gray-lighten {
    color: $color-gray-lighten !important;
}
.bg-gray-lighten {
    background-color: $color-gray-lighten !important;
    color: $color-black !important;
}
