// ------------------------------------------------------------\\
// 	VARIABLES 									
// ------------------------------------------------------------\\

// Colors 
//-------------------------------------------------------------\\

$color-black:     		#000000 !default;
$color-white:     		#ffffff !default;

$color-gray: 			#808080 !default;
$color-gray-darken: 	darken($color-gray, 20%) !default; 
$color-gray-lighten: 	lighten($color-gray, 45%) !default; 		
			
$color-normal:         	$color-gray-darken !default;
$color-primary: 	    #db3340 !default;
$color-secondary:     	#28abe3 !default;
$color-tertiary:     	#f7eac8 !default;
$color-completed: 		#47bc28 !default;
$color-error: 			#ff0000 !default;


// Global 
//-------------------------------------------------------------\\


$global-padding-top-normal: 			10px !default;
$global-padding-bottom-normal: 			10px !default;
$global-padding-left-normal: 			20px !default;
$global-padding-right-normal: 			20px !default;	

$global-padding-top-moderate: 			8px !default;
$global-padding-bottom-moderate: 		8px !default;
$global-padding-left-moderate: 			10px !default;
$global-padding-right-moderate: 		10px !default;	

$global-padding-top-light: 				8px !default;
$global-padding-bottom-light: 			8px !default;
$global-padding-left-light: 			10px !default;
$global-padding-right-light: 			10px !default;	

$global-border-radius-normal: 			0px !default;
$global-border-color: 					#f5f5f5 !default;

$global-font-size-normal:      			14px;
$global-font-size-moderate:      			12px;
$global-font-size-light:      			12px;

$global-line-height-normal:  			1.5 !default; // 16/11

$global-margin-bottom-normal: 			floor($global-font-size-normal * $global-line-height-normal) + 3 !default;
$global-margin-bottom-moderate: 		$global-margin-bottom-normal !default;
$global-margin-bottom-light: 			$global-margin-bottom-normal !default;

$global-indent: 						20px !default;

$body-bg:  								$color-white !default;
$text-color: 							$color-normal !default;

$hr-border: 							1px solid #dadada !default;
$hr-margin-bottom: 						$global-margin-bottom-normal !default;

$valign-height: 						300px !default;

// Typography 
//-------------------------------------------------------------\\


$font-family-normal:      		Arial, sans-serif !default;
$font-family-primary:  			'font-name', Arial, sans-serif !default;
$font-family-secondary:  		'font-name', Arial, sans-serif !default;
$font-family-tertiary:  		'font-name', Arial, sans-serif !default;

$text-link: 					$color-secondary !default;
$text-link-hover: 				darken($text-link, 15%);

$heading-font-family: 			$font-family-normal !default;
$heading-font-weight: 			normal !default;

$heading-1-normal: 				36px !default;
$heading-2-normal: 				30px !default;
$heading-3-normal: 				24px !default;
$heading-4-normal: 				18px !default;	
$heading-5-normal: 				14px !default;
$heading-6-normal: 				12px !default;

$heading-1-light: 				36px !default;
$heading-2-light: 				30px !default;
$heading-3-light: 				24px !default;
$heading-4-light: 				18px !default;	
$heading-5-light: 				14px !default;
$heading-6-light: 				12px !default;		

$heading-margin-bottom-normal: 	$global-margin-bottom-normal !default;
$heading-margin-bottom-moderate: 	$global-margin-bottom-moderate !default;
$heading-margin-bottom-light: 	$global-margin-bottom-light !default;

$heading-color: 				$color-normal;
$heading-line-height: 			1.1 !default;
$heading-small-font-size: 		65% !default;

$heading-bar-bg: 				$color-primary !default;
$heading-bar-color: 			$color-white !default;

$heading-bar-padding-top-normal: 		8px !default;
$heading-bar-padding-bottom-normal: 	8px !default;
$heading-bar-padding-left-normal: 		$global-padding-left-normal !default;
$heading-bar-padding-right-normal: 		$global-padding-right-normal !default;

$heading-border-bottom: 					1px solid $color-gray !default;
$heading-border-top: 						0px solid $color-gray !default;

$heading-border-padding-top-normal: 		8px !default;
$heading-border-padding-bottom-normal: 		8px !default;
$heading-border-padding-left-normal: 		$global-padding-left-normal !default;
$heading-border-padding-right-normal: 		$global-padding-right-normal !default;

$blockquote-padding-top-normal: 			10px !default;
$blockquote-padding-bottom-normal: 			10px !default;
$blockquote-padding-left-normal: 			40px !default;
$blockquote-padding-right-normal: 			10px !default;

$blockquote-padding-top-moderate: 			10px !default;
$blockquote-padding-bottom-moderate: 			10px !default;
$blockquote-padding-left-moderate: 			40px !default;
$blockquote-padding-right-moderate: 			10px !default;

$blockquote-padding-top-light: 			10px !default;
$blockquote-padding-bottom-light: 			10px !default;
$blockquote-padding-left-light: 			40px !default;
$blockquote-padding-right-light: 			10px !default;

$blockquote-bg: 						none !default;
$blockquote-color: 						$color-black !default;
$blockquote-font-size-normal: 			22px !default;
$blockquote-font-size-moderate: 			22px !default;
$blockquote-font-size-light: 			22px !default;
$blockquote-font-weight: 				bold !default;
$blockquote-author-font-size: 			12px !default;
$blockquote-author-text-align: 			left !default;


// Bar
//-------------------------------------------------------------\\

// Bar
$bar-padding-top-normal: 				10px !default;
$bar-padding-bottom-normal: 			10px !default;
$bar-padding-left-normal: 				10px !default;
$bar-padding-right-normal: 				10px !default;

$bar-margin-bottom: 					10px !default;

$bar-bg: 								lighten($color-tertiary, 5%) !default;
$bar-color: 							$color-black !default;
$bar-border: 							1px solid darken($color-gray-lighten, 10%) !default; // 1px solid $color-primary
$bar-border-top: 						none !default; // 1px solid $color-primary
$bar-border-bottom: 					none !default; // 1px solid $color-primary


// Top bar
$topbar-padding-top-normal: 			12px !default;
$topbar-padding-bottom-normal: 			12px !default;
$topbar-padding-left-normal: 			0px !default;
$topbar-padding-right-normal: 			0px !default;

$topbar-margin-bottom: 					10px !default;

$topbar-bg: 							$color-white !default;
$topbar-color: 							$color-black !default;

$topbar-border: 						none !default; // 1px solid $color-primary
$topbar-border-top: 					none !default; // 1px solid $color-primary
$topbar-border-bottom: 					none !default; // 1px solid $color-primary


// Nav bar
$navbar-padding-top-normal:  			0px !default;
$navbar-padding-bottom-normal:  		0px !default;
$navbar-padding-left-normal: 			0px !default;
$navbar-padding-right-normal: 			0px !default;

$navbar-margin-bottom: 					10px !default;

$navbar-bg: 							$color-gray-darken !default;
$navbar-color: 							$color-white !default;

$navbar-border: 						none !default; // 1px solid $color-primary
$navbar-border-top: 					none !default; // 1px solid $color-primary
$navbar-border-bottom: 					none !default; // 1px solid $color-primary


// Bottom Bar
$bottombar-padding-top-normal: 			60px !default;
$bottombar-padding-bottom-normal: 		60px !default;
$bottombar-padding-left-normal: 		0px !default;
$bottombar-padding-right-normal: 		0px !default;

$bottombar-margin-bottom: 				10px !default;

$bottombar-bg: 							$color-gray-darken !default;		
$bottombar-color: 						$color-white !default;

$bottombar-border: 						none !default; // 1px solid $color-primary
$bottombar-border-top: 					none !default; // 1px solid $color-primary
$bottombar-border-bottom: 				none !default; // 1px solid $color-primary



// Nav 
//-------------------------------------------------------------\\

$nav-padding-top-normal: 				10px !default;
$nav-padding-bottom-normal: 			10px !default;
$nav-padding-left-normal: 				15px !default;
$nav-padding-right-normal: 				0px !default;

$nav-padding-top-moderate: 				0px !default;
$nav-padding-bottom-moderate: 			0px !default;
$nav-padding-left-moderate: 				0px !default;
$nav-padding-right-moderate: 				0px !default;

$nav-padding-top-light: 				10px !default;
$nav-padding-bottom-light: 			10px !default;
$nav-padding-left-light: 				10px !default;
$nav-padding-right-light: 				10px !default;

$nav-margin-left-normal: 				0px !default;
$nav-margin-left-moderate: 				0px !default;
$nav-margin-right-normal: 				30px !default;
$nav-margin-right-moderate: 				30px !default;

$nav-margin-bottom: 					0px !default;

$nav-font-size-normal: 					11px !default;
$nav-font-size-moderate: 					inherit !default;
$nav-font-size-light: 					inherit !default;

$nav-font-family: 						$font-family-primary;
$nav-font-weight: 						normal !default;
$nav-text-transform: 					uppercase !default;

// Normal
$nav-bg: 								none !default;
$nav-color: 							$color-white;
$nav-border-top: 	 					none !default;
$nav-border-bottom: 					none !default;
$nav-border-left:  						none !default;
$nav-border-right:  					none !default;


// Hover
$nav-bg-hover: 							none !default;
$nav-color-hover: 						$color-primary !default;
$nav-border-top-hover: 	 				none !default;
$nav-border-bottom-hover: 				2px solid $color-primary !default;
$nav-border-left-hover:  				none !default;
$nav-border-right-hover:  				none !default;

// Active
$nav-bg-active: 						$nav-bg-hover !default;
$nav-color-active: 						$nav-color-hover !default;
$nav-border-top-active: 	 			$nav-border-top-hover !default;
$nav-border-bottom-active: 				$nav-border-bottom-hover !default;
$nav-border-left-active:  				$nav-border-left-hover !default;
$nav-border-right-active:  				$nav-border-right-hover !default;

$nav-content-padding-top-normal: 		0px !default;
$nav-content-padding-bottom-normal: 	0px !default;
$nav-content-padding-left-normal: 		0px !default;
$nav-content-padding-right-normal: 		0px !default;

$nav-content-padding-top-moderate: 		0px !default;
$nav-content-padding-bottom-moderate: 	0px !default;
$nav-content-padding-left-moderate: 		0px !default;
$nav-content-padding-right-moderate: 		0px !default;

$nav-content-padding-top-light: 		0px !default;
$nav-content-padding-bottom-light: 	0px !default;
$nav-content-padding-left-light: 		0px !default;
$nav-content-padding-right-light: 		0px !default;

$nav-content-height-normal: 			auto !default;
$nav-content-height-moderate: 			auto !default;
$nav-content-height-light: 			auto !default;

$nav-content-bg: 						$color-white !default;

$nav-sidebar-font-size-normal: 			14px !default;
$nav-sidebar-font-family-normal: 		$nav-font-family !default;

$nav-sidebar-color: 					$nav-color !default;

$nav-footer-font-size-normal: 			21px !default;
$nav-footer-font-size-moderate: 			21px !default;
$nav-footer-font-size-light: 			16px !default;

$nav-footer-font-family-normal: 		$nav-font-family !default;
$nav-footer-margin-right: 				14px !default;
$nav-footer-margin-left: 				14px !default;

$nav-footer-color: 						#373636 !default;

// Tab
//-------------------------------------------------------------\\

$tab-padding-top-normal: 			0px !default;
$tab-padding-bottom-normal: 		0px !default;
$tab-padding-left-normal: 			10px !default;
$tab-padding-right-normal: 			10px !default;

$tab-padding-top-moderate: 			0px !default;
$tab-padding-bottom-moderate: 		0px !default;
$tab-padding-left-moderate: 			10px !default;
$tab-padding-right-moderate: 			10px !default;

$tab-padding-top-light: 			0px !default;
$tab-padding-bottom-light: 		0px !default;
$tab-padding-left-light: 			10px !default;
$tab-padding-right-light: 			0px !default;

$tab-margin-left-normal: 			0 !default;
$tab-margin-left-moderate: 			0 !default;
$tab-margin-right-normal: 			0 !default;
$tab-margin-right-moderate: 			10px !default;

$tab-margin-bottom: 				0px !default;

$tab-font-size-normal: 				17px !default;
$tab-font-size-moderate: 				14px !default;
$tab-font-size-light: 				14px !default;

$tab-font-family: 					$font-family-secondary;
$tab-font-weight: 					300 !default;
$tab-text-transform: 				uppercase !default;


// Normal
$tab-bg: 							none !default;
$tab-color: 						$color-white;
$tab-border-top: 	 				none !default;
$tab-border-bottom: 				none !default;
$tab-border-left:  					none !default;
$tab-border-right:  				none !default;

// Hover
$tab-bg-hover: 						none !default;
$tab-color-hover: 					$color-primary !default;
$tab-border-top-hover: 	 			none !default;
$tab-border-bottom-hover: 			none !default;
$tab-border-left-hover:  			none !default;
$tab-border-right-hover:  			none !default;

// Active
$tab-bg-active: 					$tab-bg-hover !default;
$tab-color-active: 					$tab-color-hover !default;
$tab-border-top-active: 	 		$tab-border-top-hover !default;
$tab-border-bottom-active: 			$tab-border-bottom-hover !default;
$tab-border-left-active:  			$tab-border-left-hover !default;
$tab-border-right-active:  			$tab-border-right-hover !default;


// Buttons
//-------------------------------------------------------------\\

// Button paddings / marings styling
$button-padding-top-normal: 		7px !default;
$button-padding-bottom-normal: 		7px !default;
$button-padding-left-normal: 		15px !default;
$button-padding-right-normal: 		15px !default;

$button-padding-top-light: 			6px !default;
$button-padding-bottom-light: 		6px !default;
$button-padding-left-light: 		10px !default;
$button-padding-right-light: 		10px !default;

$button-padding-top-moderate: 		6px !default;
$button-padding-bottom-moderate: 	6px !default;
$button-padding-left-moderate: 		12px !default;
$button-padding-right-moderate: 	12px !default;

$button-padding-top-heavy: 			6px !default;
$button-padding-bottom-heavy: 		6px !default;
$button-padding-left-heavy: 		20px !default;
$button-padding-right-heavy: 		20px !default;

$button-margin-bottom: 				10px !default;

// Button border styling
$button-border: 					1px solid transparent !default;
$button-normal-border:    			1px solid darken($color-gray-lighten, 15%) !default;
$button-border-radius:  			$global-border-radius-normal !default;

// Button font / colors stlying
$button-font: 						$font-family-primary !default;
$button-color: 						$color-normal !default;
$button-font-weight: 				normal !default;

$button-font-size-normal: 			14px !default;
$button-font-size-light: 			11px !default;
$button-font-size-moderate: 		12px !default;
$button-font-size-heavy: 			16px !default;

$button-min-width: 					auto !default;
$button-arrow-size: 				30px !default;

// Shadow Inset
$button-shadow-inset-color: 		darken($color-primary, 10%) !default;
$button-shadow-inset-opacity: 		1 !default;
$button-shadow-inset-category: 		0 -3px 0px 0 !default; // h-shadow, v-shadow, blur, spread;

// Shadow Outset
$button-shadow-color: 				darken($color-primary, 10%) !default;
$button-shadow-opacity: 			0 !default; // Disable Outset Shadow, by giving 0 opacity;
$button-shadow-category: 			0 0px 5px 0 !default; // h-shadow, v-shadow, blur, spread;


// Button Category
// margin for left aligned.
$button-category-margin-right: 		0px !default;
//margin for center aligned.
$button-category-margin-center: 	0px !default;
//margin for right aligned.
$button-category-margin-left: 		0px !default;


$button-normal-bg: 					$color-gray-lighten !default;
$button-normal-color: 				$color-black !default;
$button-normal-border-color: 		$color-gray-lighten !default;

$button-primary-bg: 				$color-primary !default;
$button-primary-color: 				$color-white !default;
$button-primary-border-color: 		$color-primary !default;

$button-secondary-bg: 				$color-secondary !default;
$button-secondary-color: 			$color-white !default;
$button-secondary-border-color: 	$color-secondary !default;

$button-tertiary-bg: 				$color-tertiary !default;
$button-tertiary-color: 			$color-black !default;
$button-tertiary-border-color: 		$color-tertiary !default;

$button-completed-bg: 				$color-completed !default;
$button-completed-color: 			$color-white !default;
$button-completed-border-color: 	$color-completed !default;

$button-error-bg: 					$color-error !default;
$button-error-color: 				$color-white;
$button-error-border-color: 		$color-error !default;



// Dropdown 
//-------------------------------------------------------------\\

$dropdown-padding-top-normal: 			10px !default;
$dropdown-padding-bottom-normal: 		10px !default;
$dropdown-padding-left-normal: 			10px !default;
$dropdown-padding-right-normal: 		10px !default;

$dropdown-padding-top-moderate: 			10px !default;
$dropdown-padding-bottom-moderate: 		10px !default;
$dropdown-padding-left-moderate: 			10px !default;
$dropdown-padding-right-moderate: 		10px !default;

$dropdown-padding-top-light: 			10px !default;
$dropdown-padding-bottom-light: 		10px !default;
$dropdown-padding-left-light: 			10px !default;
$dropdown-padding-right-light: 		10px !default;

$dropdown-position: 			absolute !default;
$dropdown-position-left: 		0 !default;
$dropdown-position-right: 		auto !default;
$dropdown-position-top: 		$nav-padding-top-normal * 2 !default;

$dropdown-bg: 					$color-primary !default;
$dropdown-color: 				$color-black !default;

$dropdown-min-width: 			250px !default;

$dropdown-border: 				1px solid $color-gray-lighten !default;
$dropdown-list-border-top: 		inherit !default;
$dropdown-list-border-bottom: 	1px solid $color-gray-lighten !default;



// List
//-------------------------------------------------------------\\

$list-padding-top-normal: 					5px !default;
$list-padding-bottom-normal: 				5px !default;
$list-padding-left-normal: 					0px !default;
$list-padding-right-normal: 				0px !default;

// List margin
$list-container-bottom: 					$global-margin-bottom-normal;

// List border top or bottom.
// Normal is bottom
$list-border-top: 							none !default;
$list-border-bottom: 						1px solid $color-gray !default;

// List combination of border and background
$list-border-bg-top: 						none !default;
$list-border-bg-bottom: 					1px solid $color-white !default;


// List styles, font, color, etc.
$list-line-height: 							$global-line-height-normal;
$list-font-size-normal: 					$global-font-size-normal;
$list-color: 								$text-color !default;

// List to display block / fluid
$list-display: 								normal !default;

// List combination color arrow, bg, bullet, etc.
$list-combination-color: 					$color-white !default;

// List Indention
$list-indent: 								$global-indent !default;


// List inline styling
$list-inline-margin-right: 					20px !default;



// List background styling
$list-bg-padding-top-normal: 				$list-padding-top-normal !default;
$list-bg-padding-bottom-normal: 			$list-padding-bottom-normal !default;
$list-bg-padding-left-normal: 				10px !default;
$list-bg-padding-right-normal: 				10px !default;

// List arrow styling 
$list-arrow-color: 							$color-normal !default;
$list-arrow-size-normal: 					4px !default;
$list-arrow-size-moderate: 					4px !default;
$list-arrow-size-light: 					4px !default;
$list-arrow-indent: 						$list-bg-padding-left-normal + $list-arrow-size-normal - 1 !default;
$list-arrow-position-top: 					$list-padding-top-normal + $list-arrow-size-normal + 2 !default;

$list-bg-bg: 								$color-primary !default;
$list-bg-color: 							$color-white !default;

$list-bullet-color: 						$color-primary !default;
$list-bullet-font-size: 					18px !default;
$list-bullet-line-height: 					1.25 !default;
$list-bullet-padding-left: 					$list-bg-padding-left-normal !default;
$list-bullet-position-top: 					$list-padding-top-normal !default;



$dt-font-weight: 							bold !default;
$dt-font-size-normal:						$global-font-size-normal !default; 
$dt-dd-margi-bottom: 						10px !default;
$dt-color: 									$color-normal !default;



// Form 
//-------------------------------------------------------------\\

$input-padding-top-normal: 			4px !default;
$input-padding-bottom-normal: 		4px !default;
$input-padding-left-normal: 		10px !default;
$input-padding-right-normal: 		10px !default;

$input-padding-top-moderate: 			4px !default;
$input-padding-bottom-moderate: 		4px !default;
$input-padding-left-moderate: 		10px !default;
$input-padding-right-moderate: 		10px !default;

$input-padding-top-light: 			4px !default;
$input-padding-bottom-light: 		4px !default;
$input-padding-left-light: 		10px !default;
$input-padding-right-light: 		10px !default;

$input-bg: 						none;
$input-border: 					1px solid $color-gray;
$input-border-radius:  			0;
$input-placehoder: 				$color-black;
$input-color:          			$color-black;

// Shadow Inset
$input-shadow-inset-color: 			darken($color-primary, 10%) !default;
$input-shadow-inset-opacity: 		0 !default;
$input-shadow-inset-category: 		0 -2px 0px 0 !default; // h-shadow, v-shadow, blur, spread;

// Shadow Outset
$input-shadow-color: 				darken($color-gray, 10%) !default;
$input-shadow-opacity: 				0.5 !default; // Disable Outset Shadow, by giving 0 opacity;
$input-shadow-category: 			0 1px 2px 0 !default; // h-shadow, v-shadow, blur, spread;


$input-font-size-normal: 		12px !default;
$input-font-size-moderate: 		12px !default;
$input-font-size-light: 		12px !default;

$input-height-normal: 			floor(($input-padding-top-normal * 2) + ($input-font-size-normal * $global-line-height-normal)) !default;
$input-font-family: 			$font-family-normal !default;

$input-text-transform: 			none !default;
$input-font-weight: 			normal !default;

$input-margin-bottom: 			6px !default;

$form-margin-bottom: 			15px !default;


$select-color: 					#7f7f7f !default;

$label-font-family: 			$font-family-primary !default;
$label-margin-bottom: 			2px !default;
$label-font-size: 				13px !default;


// Hero
//-------------------------------------------------------------\\

$hero-bg:   									rgba(0,0,0, 0.77) !default;
$hero-border:   								0px solid #000000 !default;
$hero-shadow: 									$color-black !default;
$hero-shadow-opacity: 							0.5 !default;
$hero-shadow-category: 							3px 6px 13px 0px !default; // h-shadow, v-shadow, blur, spread;

$hero-padding-top-normal: 						5px !default;
$hero-padding-bottom-normal: 					5px !default;
$hero-padding-left-normal: 						5px !default;
$hero-padding-right-normal: 					5px !default;

$hero-color: 									$color-white !default;
$hero-font-size: 								11px !default;

$hero-banner-height-normal: 					400px !default;
$hero-banner-height-moderate: 					300px !default;
$hero-banner-height-light: 					200px !default;

$hero-banner-border: 							2px solid $color-black !default;

$hero-content-padding-top-normal: 		    	14px !default;
$hero-content-padding-right-normal: 		    14px !default;
$hero-content-padding-bottom-normal: 		    14px !default;
$hero-content-padding-left-normal: 		    	14px !default;

$hero-content-padding-top-moderate: 		    	14px !default;
$hero-content-padding-right-moderate: 		    14px !default;
$hero-content-padding-bottom-moderate: 		    14px !default;
$hero-content-padding-left-moderate: 		    	14px !default;

$hero-content-padding-top-light: 		    	10px !default;
$hero-content-padding-right-light: 		    10px !default;
$hero-content-padding-bottom-light: 		    10px !default;
$hero-content-padding-left-light: 		    	10px !default;


// Images
//-------------------------------------------------------------\\

$image-margin-bottom: 						$global-margin-bottom-normal !default;

$image-border:  							1px solid transparent !default;

// Image Banner
$image-banner-margin-bottom: 				$image-margin-bottom !default;

// Image Curve
$image-border-radius: 						$global-border-radius-normal !default; 

// Image Thumbnail
$image-thumbnail-border: 					$image-border !default;
$image-thumbnail-bg: 						$color-white !default;
$image-thumbnail-padding: 					0px !default;

// Image Content / w/ captions
$image-caption-padding-top-normal: 				10px !default;
$image-caption-padding-right-normal: 			10px !default;
$image-caption-padding-bottom-normal: 			10px !default;
$image-caption-padding-left-normal: 			10px !default;

$image-caption-padding-top-moderate: 				10px !default;
$image-caption-padding-right-moderate: 			10px !default;
$image-caption-padding-bottom-moderate: 			10px !default;
$image-caption-padding-left-moderate: 			10px !default;

$image-caption-padding-top-light: 				10px !default;
$image-caption-padding-right-light: 			10px !default;
$image-caption-padding-bottom-light: 			10px !default;
$image-caption-padding-left-light: 			10px !default;

$image-caption-position: 						absolute !default;
$image-caption-position-top: 					auto !default;
$image-caption-position-bottom: 				0 !default;



// Tables
//-------------------------------------------------------------\\

// Table padding/margin styling
$table-padding-top-normal: 				10px !default;
$table-padding-bottom-normal: 			10px !default;
$table-padding-left-normal: 			10px !default;
$table-padding-right-normal: 			10px !default;

$table-margin-bottom: 					$global-margin-bottom-normal !default;

// Table basic styling
$table-bg: 								transparent !default;
$table-color: 							inherit !default;

// Table border in between
$table-border-between: 					2px solid $color-white !default;

// Table th/td vertical alignment
$table-vertical-align: 					bottom !default;

// Table th styling
$table-th-bg: 							$color-primary !default;
$table-th-color: 						$color-white !default;
$table-th-font-weight: 					bold !default;

// Table tr odd/even colored styling
$table-row-odd-bg: 						$color-gray-lighten !default;
$table-row-odd-color: 					$color-black !default;
$table-row-even-bg: 					$color-white !default;
$table-row-even-color: 					$color-black !default;

$table-row-even-hover: 					none !default; // darken($table-row-even-bg, 15%)
$table-row-odd-hover: 					none !default; // darken($table-row-odd-bg, 15%)


// Table w/ borders
$table-border-top: 						1px solid darken($color-gray-lighten, 10%) !default;
$table-border-bottom: 					1px solid darken($color-gray-lighten, 10%) !default;
$table-border-left: 					1px solid darken($color-gray-lighten, 10%) !default;
$table-border-right: 					1px solid darken($color-gray-lighten, 10%) !default;




// Icons
//-------------------------------------------------------------\\

$icon-bar-color: 						$color-tertiary !default;

// Icon in left position - margin right
$icon-margin: 							3px !default;


// Panels
//-------------------------------------------------------------\\

// Panel margin bottom
$panel-margin-bottom: 							$global-margin-bottom-normal !default;
$panel-border-radius: 							$global-border-radius-normal !default;

// Panel top padding - adjustable top / right / bottom / left.
$panel-top-padding-top-normal: 					$global-padding-top-normal !default;
$panel-top-padding-bottom-normal: 				$global-padding-bottom-normal !default;
$panel-top-padding-left-normal: 				$global-padding-left-normal !default;
$panel-top-padding-right-normal: 				$global-padding-right-normal !default;

$panel-top-padding-top-moderate: 					$global-padding-top-moderate !default;
$panel-top-padding-bottom-moderate: 				$global-padding-bottom-normal !default;
$panel-top-padding-left-moderate: 				$global-padding-left-moderate !default;
$panel-top-padding-right-moderate: 				$global-padding-right-moderate !default;

$panel-top-padding-top-light: 					$global-padding-top-light !default;
$panel-top-padding-bottom-light: 				$global-padding-bottom-light !default;
$panel-top-padding-left-light: 				$global-padding-left-light !default;
$panel-top-padding-right-light: 				$global-padding-right-light !default;

// Panel top styling.
$panel-top-bg: 									$color-primary !default;
$panel-top-color: 								$color-white !default;
$panel-top-border-radius: 						$global-border-radius-normal !default;
$panel-top-border: 								0 !default;

$panel-top-margin-bottom: 						10px !default;

// Panel content padding - adjustable top / right / bottom / left.
$panel-content-padding-top-normal: 				20px !default;
$panel-content-padding-bottom-normal: 			20px !default;
$panel-content-padding-left-normal: 			$global-padding-left-normal !default;
$panel-content-padding-right-normal: 			$global-padding-right-normal !default;

$panel-content-padding-top-moderate: 				25px !default;
$panel-content-padding-bottom-moderate: 			25px !default;
$panel-content-padding-left-moderate: 			$global-padding-left-moderate !default;
$panel-content-padding-right-moderate: 			$global-padding-right-moderate !default;

$panel-content-padding-top-light: 				25px !default;
$panel-content-padding-bottom-light: 			25px !default;
$panel-content-padding-left-light: 				$global-padding-left-light !default;
$panel-content-padding-right-light: 			$global-padding-right-light !default;

// Panel content background / color
$panel-content-bg: 								transparent !default;
$panel-content-color: 							inherit !default;

$panel-content-color-primary: 					$color-white !default;
$panel-content-color-secondary: 				$color-white !default;
$panel-content-color-tertiary: 					$color-white !default;

$panel-content-border: 							0px solid $color-gray !default;
$panel-content-border-radius: 					0 !default;
$panel-content-border-radius-bottom: 			0 !default;

// Panel bottom padding - adjustable top / right / bottom / left.
$panel-bottom-padding-top-normal: 				8px !default;
$panel-bottom-padding-bottom-normal: 			8px !default;
$panel-bottom-padding-left-normal: 				15px !default;
$panel-bottom-padding-right-normal: 			15px !default;

$panel-bottom-padding-top-moderate: 				8px !default;
$panel-bottom-padding-bottom-moderate: 			8px !default;
$panel-bottom-padding-left-moderate: 				15px !default;
$panel-bottom-padding-right-moderate: 			15px !default;

$panel-bottom-padding-top-light: 				8px !default;
$panel-bottom-padding-bottom-light: 			8px !default;
$panel-bottom-padding-left-light: 				15px !default;
$panel-bottom-padding-right-light: 			15px !default;

$panel-bottom-bg: 								$color-primary !default;
$panel-bottom-color: 							$color-white !default;
$panel-bottom-border-radius: 					$global-border-radius-normal !default;


// Panel caption padding - adjustable top / right / bottom / left.
$panel-caption-padding-top-normal: 				8px !default;
$panel-caption-padding-bottom-normal: 			8px !default;
$panel-caption-padding-left-normal: 			15px !default;
$panel-caption-padding-right-normal: 			15px !default;

$panel-caption-padding-top-moderate: 				8px !default;
$panel-caption-padding-bottom-moderate: 			8px !default;
$panel-caption-padding-left-moderate: 			15px !default;
$panel-caption-padding-right-moderate: 			15px !default;

$panel-caption-padding-top-light: 				8px !default;
$panel-caption-padding-bottom-light: 			8px !default;
$panel-caption-padding-left-light: 			15px !default;
$panel-caption-padding-right-light: 			15px !default;

$panel-caption-top: 			auto !default;
$panel-caption-bottom: 			0 !default;
$panel-caption-color: 			$color-white;
$panel-caption-align: 			center !default;


// Margin for ".left/.right/"
$panel-margin-left: 			10px !default;
$panel-margin-right: 			10px !default;



// Articles
//-------------------------------------------------------------\\

// Article margin bottom
$article-margin-bottom: 		$global-margin-bottom-normal !default;


// Article heading padding - adjustable top, right, bottom, left
$article-heading-padding-top-normal: 			10px !default;
$article-heading-padding-bottom-normal: 		10px !default;
$article-heading-padding-left-normal: 			10px !default;
$article-heading-padding-right-normal: 			10px !default;

// Article heading padding for tablet
$article-heading-padding-top-moderate: 			10px !default;
$article-heading-padding-bottom-moderate: 		10px !default;
$article-heading-padding-left-moderate: 		10px !default;
$article-heading-padding-right-moderate: 		10px !default;

// Article heading padding for mobile
$article-heading-padding-top-light: 			10px !default;
$article-heading-padding-bottom-light: 			10px !default;
$article-heading-padding-left-light: 			10px !default;
$article-heading-padding-right-light: 			10px !default;

$article-heading-bg: 			$color-primary !default;
$article-heading-color: 		$color-black !default;


// Article content padding - adjustable top, right, bottom, left
$article-content-padding-top-normal: 			10px !default;
$article-content-padding-bottom-normal: 		10px !default;
$article-content-padding-left-normal: 			10px !default;
$article-content-padding-right-normal: 			10px !default;

// Article content padding for tablet
$article-content-padding-top-moderate: 			10px !default;
$article-content-padding-bottom-moderate: 		10px !default;
$article-content-padding-left-moderate: 			10px !default;
$article-content-padding-right-moderate: 			10px !default;

// Article content padding for mobile
$article-content-padding-top-light: 			10px !default;
$article-content-padding-bottom-light: 		10px !default;
$article-content-padding-left-light: 			10px !default;
$article-content-padding-right-light: 			10px !default;


// Article caption padding - adjustable top / right / bottom / left.
$article-caption-padding-top-normal: 			10px !default;
$article-caption-padding-bottom-normal: 		10px !default;
$article-caption-padding-left-normal: 			10px !default;
$article-caption-padding-right-normal: 			10px !default;

// Article caption padding for tablet
$article-caption-padding-top-moderate: 			10px !default;
$article-caption-padding-bottom-moderate: 		10px !default;
$article-caption-padding-left-moderate: 			10px !default;
$article-caption-padding-right-moderate: 			10px !default;

// Article caption padding for tablet
$article-caption-padding-top-light: 			10px !default;
$article-caption-padding-bottom-light: 		10px !default;
$article-caption-padding-left-light: 			10px !default;
$article-caption-padding-right-light: 			10px !default;

// Article caption position - adjustable top / bottom.
$article-caption-top: 			auto !default;
$article-caption-bottom: 		0 !default;
$article-caption-color: 		$color-white;
$article-caption-align: 		center !default;


// Margin for ".left/.right/".
$article-margin-left: 			10px !default;
$article-margin-right: 			10px !default;




// Blocks
//-------------------------------------------------------------\\

// Block padding - adjustable top / right / bottom / left.
$block-padding-top-normal: 				20px !default;
$block-padding-bottom-normal: 			20px !default;
$block-padding-left-normal: 			0px !default;
$block-padding-right-normal: 			0px !default;

$block-padding-top-moderate: 				20px !default;
$block-padding-bottom-moderate: 			20px !default;
$block-padding-left-moderate: 			0px !default;
$block-padding-right-moderate: 			0px !default;

$block-padding-top-light: 				20px !default;
$block-padding-bottom-light: 			20px !default;
$block-padding-left-light: 			0px !default;
$block-padding-right-light: 			0px !default;

$block-margin-bottom-normal: 			$global-margin-bottom-normal !default;
$block-margin-bottom-moderate: 			0px !default;
$block-margin-bottom-light: 			0px !default;


// Details 
//-------------------------------------------------------------\\

$details-padding-right: 				15px !default;
$details-padding-left: 					15px !default;




// Footer
//-------------------------------------------------------------\\

// Footer padding.
$footer-padding-top-normal: 			20px !default;
$footer-padding-bottom-normal: 			20px !default;
$footer-padding-left-normal: 			0px !default;
$footer-padding-right-normal: 			0px !default;

// Footer styling.
$footer-bg: 							$color-tertiary !default;
$footer-color: 							$color-normal !default;



// Grid Layout
//-------------------------------------------------------------\\


// Grid cell padding - you can choose whether border in between, or all sides.
$grid-cell-border-between: 				1px solid darken($color-gray-lighten, 10%); // In between border


$grid-cell-bg: 							$color-primary !default;
$grid-cell-color: 						$color-white !default;
$grid-cell-link-color: 					$color-tertiary !default;

$grid-cell-padding-top-normal: 			20px !default;
$grid-cell-padding-bottom-normal: 		20px !default;
$grid-cell-padding-left-normal: 		20px !default;
$grid-cell-padding-right-normal: 		20px !default;


// Grid off borders. 
$grid-off-border-width: 				1px !default;
$grid-off-border-bg: 					darken($color-gray-lighten, 10%) !default;

// Grid content padding - adjustable top / right / bottom / left.
$grid-content-padding-top-normal: 		25px !default;
$grid-content-padding-bottom-normal: 	25px !default;
$grid-content-padding-left-normal: 		25px !default;
$grid-content-padding-right-normal: 	25px !default;

// Grid content styling
$grid-content-bg: 						none !default;
$grid-content-color: 					inherit !default;
$grid-content-border-bg: 				$grid-off-border-bg !default;


// Gutter
//-------------------------------------------------------------\\

// Gutter for specific spacing
$grid-gutter-normal:  				20px !default;
$grid-gutter-light:  				10px !default;
$grid-gutter-moderate:  			14px !default;
$grid-gutter-heavy: 				30px !default;


// Mobile Grid Control
$grid-container-row-light: 			$grid-gutter-normal !default;

// Mobile Margin bottom
$grid-margin-bottom-light: 			10px !default;




// Container
//-------------------------------------------------------------\\

$container-moderate:  			((720px + $grid-gutter-normal)) !default;
$container-normal:  			((940px + $grid-gutter-normal)) !default;
$container-heavy:  				((1140px + $grid-gutter-normal)) !default;



// Breakpoints 
//-------------------------------------------------------------\\

$grid-light: 						767px !default;
$grid-moderate: 					768px !default;
$grid-normal: 						992px !default;
$grid-heavy: 						1200px !default;