// ------------------------------------------------------------\\
//  OVERRIDE Styles here. All Components, Modules, etc.                                                
// ------------------------------------------------------------\\

// Typography
//-------------------------------------------------------------\\


// Buttons
//-------------------------------------------------------------\\


// Nav
//-------------------------------------------------------------\\


// Form 
//-------------------------------------------------------------\\



// List 
//-------------------------------------------------------------\\


// Bar 
//-------------------------------------------------------------\\


// Hero
//-------------------------------------------------------------\\


// Icons 
//-------------------------------------------------------------\\


.icon-info {
	background: url(../images/icons/icon-info.png) 0 0 no-repeat;
	width: 24px;
	height: 24px;
}




@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {
    
}

@media (min-width: $grid-normal) {
    
}

@media (max-width: $grid-light) {
   
}