// ------------------------------------------------------------\\
//  FOOTER                                                
// ------------------------------------------------------------\\

.footer {
	background: $footer-bg;
	padding: $footer-padding-top-normal $footer-padding-right-normal $footer-padding-bottom-normal $footer-padding-left-normal;
	display: block;
	@include clear();
}


@media (min-width: $grid-moderate) and (max-width: $grid-normal - 1) {

}

@media (min-width: $grid-normal) {
    
}

@media (max-width: $grid-light) {
   
}